/* colors from https://coolors.co/app/ef476f-ffd166-06d6a0-118ab2-073b4c */
a {
	color: #118AB2;
}

.ui.primary.button {
	background-color: #118AB2;
}
.ui.primary.button:hover {
	background-color: #0F7699;
}

.ui.inverted.menu {
	background: #073B4C;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
	background: #073B4C;
    	color: #fff;
}

.item .avatar {
	padding: 0em 0em 0em 0.5em
}
