/* colors from https://coolors.co/app/ef476f-ffd166-06d6a0-118ab2-073b4c */
a {
	color: #118AB2;
}

.ui.primary.button {
	background-color: #118AB2;
}
.ui.primary.button:hover {
	background-color: #0F7699;
}

.ui.inverted.menu {
	background: #073B4C;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
	background: #073B4C;
    	color: #fff;
}

.item .avatar {
	padding-left: 0.5em;
}

.step .content {
	padding-left: 0.6em;
}

.step .mega-octicon {
        padding-top: 0.1em;
}

.ui.centered.grid {
	padding-top: 5em;
	padding-bottom: 5em;
}

.browse .extra .octicon {
	padding-left: 0.6em;
