/* colors from https://coolors.co/app/ef476f-ffd166-06d6a0-118ab2-073b4c */
a {
	color: #118AB2;
}

a.disabled {
    cursor: auto;
    background: #fff;
    pointer-events: none;
}

.ui.primary.button {
	background-color: #118AB2;
}

.ui.primary.button:hover {
	background-color: #0F7699;
}

.ui.secondary.button {
	background-color: #05C693;
}

.ui.secondary.button:hover {
	background-color: #09B587;
}

.ui.inverted.menu {
	background: #073B4C;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
	background: #073B4C;
    	color: #fff;
}

.item .avatar {
	padding-left: 0.5em;
}

.step .content {
	padding-left: 0.6em;
}

.step .mega-octicon {
        padding-top: 0.1em;
}

.step.active .mega-octicon {
	color: #118AB2;
}

.ui.centered.grid {
	padding-top: 2em;
	padding-bottom: 5em;
}

.browse .extra .octicon {
	padding-left: 0.6em;
}

.ui.grid > .row.tabs {
	padding-bottom: 0;
	border-bottom: 1px solid #d4d4d5;
}

.row.tabs .menu {
	border: none;
}

.row.tabs .octicon {
        padding-right: 0.5em;
}

.md .content {
	padding-top: 0.5em;
}

.md .right.floated {
	float: right;
}

.md .right.floated .mega-octicon {
	color: #e0e1e2;
	padding-top: 0.4em;
}

.screenshot {
    float: left;
    margin: 0 15px 15px 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 10px;
}

.screenshot img {
    width: 250px;
}

.finish .mega-octicon {
	font-size: 64px;
	color: #05C693;
}
